body{
	background-color:#DADADA;
}

.persona {
	border-radius: 5px;
	padding: 10px 5px 10px 5px;
	margin-left: 10%;
	margin-right: 10%;
	font-family: verdana;
	vertical-align: middle;
}

span {
	margin-left: 20px;
	float: left;
}

a {
   float: left;
}

h1 {
	font-family: Arial;
	color: #f00;
	text-align: center;
	margin-bottom: 50px;	
}

.button {
	display:inline-block;
	background-color: #0000FF;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 15px;
	padding: 20px;
	width: 20%;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	border-radius:8px;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}
