
.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 20px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 20px;
}
.panel-login>.panel-heading hr{
	margin-top: 0px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 35px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 4px;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}


.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}


.jumbotron {
    background-color: #bbdefb;
    padding: 100px;

}

.display-4, .display-3 {
  text-align: center;
  width: 100%;

}

.row{
  margin-left: 0px;
  margin-right: 0px;
}

#navbar1{
  background: linear-gradient(to right, #ffffff 0%, #2196F3 100%);
  position: fixed;
  width: 100%;
  z-index: 10;
}

#navbar2{
  background: linear-gradient(to right, #ffffff 0%, #007bff 100%);
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar-brand{
  height: 45px;
  line-height: 45px;
}

.md-form label{
  color:#1c2331;
  font-size: 120%;
}

.table{
	text-align: center;
}

.table td{
	margin-top: 20px;
}
#login-submit{font-size: 1.6rem;}

#login-edus{
	padding-top: 30px;
}

#disponibilita{
	background-color: red;
}

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  padding: 20px;
  line-height: 1.5;
  vertical-align: top;
  border-top: 2px solid #dddddd;
	font-size: 16px;
}

#bottomsearch{
	margin-top: -10px;
}

#notearea{
	background-color: white;
	padding: 60px;
	width: 60%;
	margin-left: 20%;
}

@media only screen and (max-width: 700px){
	#notearea{
		width: 150%;
		margin-left: -25%;
	}
}

#sectionnote{
	margin-bottom: -1.5rem;
}

/* Notifications */
.notification{
    position:fixed;
    top: 90px;
    right:0;
    background-color:#FF4136;
    padding: 20px;
    color: #fff;
    font-size:21px;
    display:none;
}
.notification-success{
  background-color:#3D9970;
}

.notification-show{
    display:block!important;
}

#studenti-image {
    position: absolute;
    left: 20px;
    top: 0px;
    z-index: -1;
}
